@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap");

/* #################### */
/* Global */
/* #################### */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  border: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

:root {
  --main: rgb(150, 99, 254);
  --main2: rgb(176, 139, 251);
  --main3: rgb(246, 212, 118);
  --bg: #010101;
  --text: #fff;
  --shadow: 0 0 5px var(--main2), 0 0 25px var(--main2);
}

body {
  background: var(--bg);
  color: var(--text);
}

section {
  padding: 50px 100px;
  margin: 4rem 0;
  width: 100%;
}

.logo-img {
  width: 60px;
  height: 60px;
}

.heading {
  text-align: center;
  padding: 32px 16px;
  text-transform: uppercase;
  font-size: clamp(25px, 5vw, 60px);
  position: relative;
  text-shadow: var(--shadow);
  position: relative;
  margin-bottom: 3rem;
}

.btn{
  padding: 10px 15px;
  color: var(--text);
  border-radius: 7px;
  transition: .2s ease-in-out;
  border: 1px solid var(--text);
}
.btn:hover{
  background: var(--main);
  color: var(--text);
  box-shadow: var(--shadow);
}

/* #################### */
/* Navigation */
/* #################### */

nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  padding: 1rem auto 2rem;
  z-index: 10000;
}

nav .menu {
  display: flex;
  align-items: center;
}

.menu a {
  padding: 10px 15px;
  margin: 0px 16px;
  color: #fff;
  transition: 0.2s ease-in-out;
  border-radius: 7px;
}
.menu a:hover,
.menu a.active {
  box-shadow: var(--shadow);
  background: var(--main2);
  border: 1px solid #fff;
  color: var(--text);
}

#burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: var(--main);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  display: none;
}
#burger-menu:hover {
  color: var(--main2);
}

/* #################### */
/* Home */
/* #################### */

#home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1rem;
}
.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.home-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-filter {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: 5;
}
.home-content {
  position: relative;
  top: 0;
  left: 0;
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
}
.home-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--main2);
  color: var(--text);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition: 0.2s ease-in-out;
  animation: anim 4s ease-in-out infinite;
  margin: 4rem auto 0;
}
.home-icon:hover {
  background: var(--main);
  color: var(--text);
  box-shadow: var(--shadow);
}

@keyframes anim {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-2.4rem);
  }
  100% {
    transform: translateY(0%);
  }
}

/* #################### */
/* Devise*/
/* #################### */
.devise-content {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  padding: 0 1rem;
}
.devise-box {
  text-align: center;
  border-radius: 7px;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}
.devise-box:hover {
  transform: translateY(-10px);
  box-shadow: var(--shadow);
}

.devise-box:hover ion-icon,
.devise-box:hover h3 {
  color: var(--main);
}
.devise-box ion-icon {
  font-size: 50px;
  margin-bottom: 0.5rem;
}
.devise-box h3 {
  margin-bottom: 1rem;
}
/* .devise-box p{
  font-size: 1.5rem;
  line-height: 25px;
} */


/* #################### */
/* Portfolio*/
/* #################### */

#portfolio{
  width: 100%;
  background: no-repeat center / cover url(imgs/\ background.jpg);
  position: relative;
}
.portfolio-filter{
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;

}
.portfolio-container{
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 1.5rem;
  position: relative;
  z-index: 30;
}
.portfolio-box{
  width: 100%;
  padding: 1rem;
  /* height: 150px; */
  border-radius: 7px;
  transition: .2s ease-in-out;
  position: relative;
}
.portfolio-box:hover{
  box-shadow: var(--shadow);
  transform: translateY(-10px);
}
.portfolio-box img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}
.portfolio-box h4{
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.portfolio-box p{
  /* font-size: 1rem; */
  margin-bottom: 3.5rem;
}
.portfolio-box .btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

/* #################### */
/* apropos*/
/* #################### */

.about-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 1.5rem;

}
.about-img img{
  width: 100%;
}
.about-content span{
  color: var(--main);
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}
.about-content p{
  margin: 1rem 0 2rem ;
  font-size: 1.2rem;
}